<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="row align-middle align-items-end" style="width: 80%; opacity: .95; margin: auto;" th:fragment="promotions">
    <div class="col">
        <div class="card" style="width: 20rem; height: 450px">
            <img src="/images/london_com.jpg" class="card-img-top" alt="..." width="320" height="200">
            <div class="card-body">
                <h5 class="card-title">London</h5>
                <p class="card-text">London is the largest city in the UK and the largest in Western Europe by both population and area. The wider London metropolitan area is the largest in...</p>
                <div class="card-body">
                    <a href="#" class="card-link">Find a space</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem; height: 450px">
            <img src="/images/tokyo_com.jpg" class="card-img-top" alt="..." width="320" height="200">
            <div class="card-body">
                <h5 class="card-title">Tokyo</h5>
                <p class="card-text">Tokyo has many attractions, including the Imperial Palace, which is surrounded by stone-walled moats and gardens. The city also has many temples and shrines.</p>
                <div class="card-body">
                    <a href="#" class="card-link">Find a space</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem; height: 450px">
            <img src="/images/norway-02_com.jpg" class="card-img-top" alt="..." width="320" height="200">
            <div class="card-body">
                <h5 class="card-title">Lysefjord</h5>
                <p class="card-text">It is located about 70 kilometers from Stavanger, and is a 40 km long fjord. It is estimated that it was formed during the ice age, and inside, we find mountains... </p>
                <div class="card-body">
                <a href="#" class="card-link">Find a space</a>
                </div>
            </div>
        </div>
    </div>
        <p></p>
    </div>
</body>
</html>